<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="header.css" />
</head>

<body>
  <div class="main-header-container">

    <div class="header-container">
      <div class="header-title">
        <h1>Customers</h1>
        <p>Find all platform customers here</p>
      </div>
      <div class="header-buttons">
        <button class="export-btn">
          <img src="../assets/images/export.png" height="20px" width="20px"/> Export CSV
        </button>
        <button class="invite-btn">
          <img src="../assets/images/plus.png" height="20px" width="20px"/> Invite Customer
        </button>
      </div>
    </div>
  
    <!-- Stats Section Below the Header -->
    <div class="stats-container">
      <div class="stats-box">
        <div class="mainText">General customers</div>
        <div class="p-container">
          <div class="total">11,450</div>
          <div class="percent">+2.5%</div>
        </div>
      </div>
  
      <div class="stats-box">
        <div class="mainText">Admins</div>
        <div class="p-container">
          <div class="total">812</div>
          <div class="percent">-6.5%</div>
        </div>
      </div>
  
      <div class="stats-box">
        <div class="mainText">Creators</div>
        <div class="p-container">
          <div class="total">83</div>
          <div class="percent">-10.5%</div>
        </div>
      </div>
    </div>

  </div>
  
</body>

</html>
