<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="../css/sideBar.css" />
</head>

<body>
  <div class="sidebar-container">
    <div class="logo">
      <img src="https://via.placeholder.com/30" alt="Logo" />
      <h2>Kahf Tech</h2>
    </div>
    <nav>
      <ul class="menu">
        <li><a href="#">
            <img src="../assets/images/home.png" height="20px" width="20px" />
            Dashboard</a>
        </li>
        <li><a href="#">
            <img src="../assets/images/Overview.png" height="20px" width="20px" />
            Overview</a>
        </li>
        <li class="active"><a href="#">
            <img src="../assets/images/people.png" height="20px" width="20px" />
            Customers</a>
        </li>
        <li><a href="#">
            <img src="../assets/images/project.png" height="20px" width="20px" /> Projects</a>
        </li>
        <li><a href="#">
          <img src="../assets/images/message.png" height="20px" width="20px" /> Messages <span class="notification-count">4</span></a>
        </li>
        <li><a href="#">
          <img src="../assets/images/bell.png" height="20px" width="20px" /> Notification </a>
        </li>
      </ul>
    </nav>
    <div class="support-section">
      <a href="#"><i class="icon">💬</i> Support</a>
      <a href="#"><i class="icon">⚙️</i> Settings</a>
    </div>
    <div class="user-profile">
      <img src="https://via.placeholder.com/40" alt="User Profile" class="profile-pic" />
      <div>
        <div class="user-name">Fristan Lobo</div>
        <div class="user-email">fristanlobo@gmail.com</div>
      </div>
    </div>
  </div>
</body>

</html>